In [3]:
# Pandas
import pandas as pd

# Task 1: Create a Pandas DataFrame from a dictionary of lists
data = {'Name': ['Alice', 'Bob', 'John'], 'Age': [25, 30, 35], 'sales': [200, 150, 300]}
df = pd.DataFrame(data)
print("DataFrame:\n", df)
df.to_csv('data.csv', index=False)
print("data.csv saved locally.")
# Task 2: Read a CSV file named data.csv and display the first 5 rows
df = pd.read_csv("data.csv")
print("First 5 rows:\n", df.head())

# Task 3: Find the number of rows and columns in a DataFrame
rows, columns = df.shape
print(f"Number of rows: {rows}, Number of columns: {columns}")

# Task 4: Select a single column named 'age' from a DataFrame
df_age = df['Age']
print("Age column:\n", df_age)

# Task 5: Display a summary of the DataFrame
print("DataFrame Summary:\n")
df.info()
# Task 6: Filter rows where column 'sales' has values greater than 100
filtered_df = df[df['sales'] > 100]
print("Filtered rows:\n", filtered_df)

DataFrame:
     Name  Age  sales
0  Alice   25    200
1    Bob   30    150
2   John   35    300
data.csv saved locally.
First 5 rows:
     Name  Age  sales
0  Alice   25    200
1    Bob   30    150
2   John   35    300
Number of rows: 3, Number of columns: 3
Age column:
 0    25
1    30
2    35
Name: Age, dtype: int64
DataFrame Summary:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   sales   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
Filtered rows:
     Name  Age  sales
0  Alice   25    200
1    Bob   30    150
2   John   35    300

In [5]:
#pandas contd..
# Task 7: Group a DataFrame by a column named 'category' and calculate the mean of another column 'revenue'
# Sample DataFrame with 'category' and 'revenue' columns
df7 = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'revenue': [100, 150, 200, 250, 300, 350]
})
grouped_df = df7.groupby('category')['revenue'].mean()
print("Grouped by category and mean of revenue:\n", grouped_df)

# Task 8: Replace all NaN values in a DataFrame with the median value of the respective column
# Sample DataFrame with NaN values
df8 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'John'],
    'Age': [25, None, 35],
    'sales': [200, 150, None]
})
numeric_columns = df8.select_dtypes(include=['number']).columns
df8[numeric_columns] = df8[numeric_columns].fillna(df8[numeric_columns].median())
print("DataFrame after filling NaN values with median:\n", df8)

# Task 9: Merge two DataFrames df1 and df2 on a common column 'id' using an inner join
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'John']})
df2 = pd.DataFrame({'id': [2, 3, 4], 'revenue': [150, 200, 250]})
merged_df = pd.merge(df1, df2, on='id', how='inner')
print("Merged DataFrame on 'id' using inner join:\n", merged_df)

# Task 10: Sort a DataFrame by a column 'price' in descending order
df10 = pd.DataFrame({
    'product': ['A', 'B', 'C'],
    'price': [25, 30, 20]
})
sorted_df = df10.sort_values(by='price', ascending=False)
print("Sorted DataFrame by price (descending):\n", sorted_df)

# Task 11: Create a MultiIndex DataFrame from a dictionary where the outer index is country and the inner index is year
df11 = pd.DataFrame({
    'sales': [1000, 2000, 1500, 2500]
}, index=pd.MultiIndex.from_tuples([('USA', 2020), ('USA', 2021), ('India', 2020), ('India', 2021)],
                                   names=['country', 'year']))  # This is where the closing parenthesis is added
print("MultiIndex DataFrame:\n", df11)

# Task 12: Create a pivot table summarizing average sales for each region and product
df12 = pd.DataFrame({
    'region': ['North', 'South', 'East', 'West', 'North', 'East'],
    'product': ['A', 'B', 'C', 'A', 'B', 'C'],
    'sales': [100, 200, 150, 250, 300, 350]
})
pivot_table = df12.pivot_table(values='sales', index='region', columns='product', aggfunc='mean')
print("Pivot table summarizing average sales:\n", pivot_table)

# Task 13: Calculate the rolling mean of a column 'temperature' over a window size of 3
df13 = pd.DataFrame({
    'temperature': [20, 22, 24, 26, 28, 30]
})
df13['rolling_mean'] = df13['temperature'].rolling(window=3).mean()
print("Rolling mean of temperature:\n", df13)

# Task 14: Apply a custom function to normalize the values of a column 'score' in a DataFrame
df14 = pd.DataFrame({
    'score': [80, 85, 90, 95, 100]
})
df14['normalized_score'] = (df14['score'] - df14['score'].min()) / (df14['score'].max() - df14['score'].min())
print("DataFrame with normalized score:\n", df14)

# Task 15: Given a DataFrame with a datetime column 'date', extract the month and year as separate columns
df15 = pd.DataFrame({
    'date': pd.to_datetime(['2024-01-01', '2024-02-01', '2024-03-01'])
})
df15['month'] = df15['date'].dt.month
df15['year'] = df15['date'].dt.year
print("DataFrame with extracted month and year:\n", df15)

Grouped by category and mean of revenue:
 category
A    200.0
B    250.0
Name: revenue, dtype: float64
DataFrame after filling NaN values with median:
     Name   Age  sales
0  Alice  25.0  200.0
1    Bob  30.0  150.0
2   John  35.0  175.0
Merged DataFrame on 'id' using inner join:
    id  name  revenue
0   2   Bob      150
1   3  John      200
Sorted DataFrame by price (descending):
   product  price
1       B     30
0       A     25
2       C     20
MultiIndex DataFrame:
               sales
country year
USA     2020   1000
        2021   2000
India   2020   1500
        2021   2500
Pivot table summarizing average sales:
 product      A      B      C
region
East       NaN    NaN  250.0
North    100.0  300.0    NaN
South      NaN  200.0    NaN
West     250.0    NaN    NaN
Rolling mean of temperature:
    temperature  rolling_mean
0           20           NaN
1           22           NaN
2           24          22.0
3           26          24.0
4           28          26.0
5           30          28.0
DataFrame with normalized score:
    score  normalized_score
0     80              0.00
1     85              0.25
2     90              0.50
3     95              0.75
4    100              1.00
DataFrame with extracted month and year:
         date  month  year
0 2024-01-01      1  2024
1 2024-02-01      2  2024
2 2024-03-01      3  2024